/.vscode
/tools/__pycache__/

test.root
tools/test.py
tree_name.C

/data
/geant4_root_files/geant4_material_tracks.root

/tools/a.out
/tools/fluka_to_flair.py
/tools/fluka_to_gdml.py
/tools/root_results_to_csv.py

fluka_geant4_comparison_conversion.png
fluka_geant4_comparison.png
